:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
}

  section{
    border-style: solid;
    border: solid white 1px;
    border-radius: 8px;
    padding: 5px; 
}

section > img{
    width: 100%;
}

.GameArea{
    display: flex;
    flex-direction: row;
}

.GameText{
    width: 300px;
    height: 600px;
    text-align: left;
    
}

.GameImage{
    width: 300px;
    height: 600px;
    display: flex;
    
}

.GameChoices{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.GameInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
