div{
    display: flex;
    flex-direction: column;
}

section{
    border-style: solid;
    border: solid white 1px;
    border-radius: 8px;
    padding: 5px; 
}

section > img{
    width: 100%;
}

.GameArea{
    display: flex;
    flex-direction: row;
}

.GameText{
    width: 300px;
    text-align: justify;
    
}

.GameImage{
    width: 300px;
    display: flex;
    
}

.GameChoices{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.GameInformation{

}
